header {
    width: 85%;
    margin: 0 auto;
    margin-top: 60px;
}

#game-resp-container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
    border-radius: 8px;
}

#gameContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
}

.gamenav {
    margin: 0 auto;
    width: 100px;
    border-radius: 0px 0px 6px 6px;
}

.grid_half {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
    grid-template-rows: repeat(auto-fit, auto);
}

.nav-left, .nav-right {
    padding: 8px;
    background-color:#EAEDED;
    cursor: pointer;
    transition: 0.3s;
}

.nav-left {
    border-radius: 0px 0px 0px 6px;
}

.nav-right {
    border-radius: 0px 0px 6px 0px;
}

.nav-left:hover, .nav-right:hover {
    background-color:#BEBEBE;
}