header {
    width: 85%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
}
header span {
    font-weight: bold;
}
#game-resp-container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
    border-radius: 8px;
}
#game-resp-container > #gameContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
}

.gamenav {
    margin: 0 auto;
    width:100px;
}

.nav-left {
    padding: 8px;
    background-color:#EAEDED;
    border-radius: 0px 0px 0px 6px;
    cursor: pointer;
    transition: 0.3s;
}

.nav-right {
    padding: 8px;
    background-color:#EAEDED;
    border-radius: 0px 0px 6px 0px;
    cursor: pointer;
    transition: 0.3s;
}

.nav-left:hover {
    background-color:#BEBEBE;
}

.nav-right:hover {
    background-color:#BEBEBE;
}