html, body, h1, h2, h3, h4, h5, h6 {
    font-family: 'Kanit', sans-serif;
}

a {
    text-decoration: none
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #BEBEBE;
    margin: 1em 0;
    padding: 0; 
}

.dropShadow {
    box-shadow: 0px 0px 10px rgba(0,0,0,0.4);
}

#navbar {
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    display: block;
    transition: top 0.3s;
}

#navbar .text {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-size: 17px;
    transition: 0.3s;
    border-bottom-color: #4054b2;
}

#navbar .ico {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 11px;
    text-decoration: none;
    font-size: 22px;
    transform: scale(1.25);
    transition: 0.3s;
}

#navbar .text:hover {
    color: #BEBEBE;
    padding-bottom: 10px;
    border-bottom: 5px solid #4054b2;
}

.parallax { /* use with upper wallpaper */
    background-image: url("../image/wallpaper01.jpg");
    height: 850px;
    width: auto;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.photoplace img {
    max-width:19.25%;
    width:auto;
    border-radius: 4px;
    margin-bottom: 4px;
    margin-top: 4px;
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.2);
    cursor: pointer;
}

#photomodal {
    display: block; /* Popup by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 120px;
}

#photomodal img {
    background-color: #fefefe;
    width: auto; /* Could be more or less, depending on screen size */
    max-width: 60%;
    max-height: 90%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltiptext {
    visibility: hidden;
    width: 180px;
    background-color: rgba(0,0,0,0.4);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    opacity: 0;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -90px;
    -webkit-transition: opacity 0.3s ease-in-out; /* define transitions */
    transition: opacity 0.3s ease-in-out;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.zoom {
    transition: transform .2s; /* Animation */
}

.zoom:hover {
    transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.showcase {
    width: 100%;
    border-radius: 6px;
    transition: 0.3s;
}

.showcase:hover {
    box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.2);
    opacity: 0.8;
}

.headlink {
    color: #4054b2;
    transition: 0.3s;
}

.headlink:hover {
    opacity: 0.8;
}

.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
    -ms-flex: 33%; /* IE10 */
    flex: 33%;
    max-width: 33%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
}


.social {
    -ms-flex: 20%; /* IE10 */
    flex: 20%;
    max-width: 20%;
    padding: 0 4px;
    margin-top: 8px;
    vertical-align: middle;
}

.social img {
    border-radius: 6px;
    transition: 0.3s;
}

.social img:hover {
    box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.2);
    opacity: 0.8;
}

/* Search Bar */
input[type=text] {
    width: 210px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 40px;
    font-size: 16px;
    background-color: white;
    background-image: url('../image/searchicon.png');
    background-size: 28px 28px;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 45px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    transition: 0.4s;
}

input[type=text]:focus {
    width: 100%;
    box-shadow: 0px 0px 4px 2px #AED6F1;
}

.resp-container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}

.resp-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

input:focus, button:focus {
    outline: none;
}

