html, body, h1, h2, h3, h4, h5, h6 {
    font-family: 'Josefin Sans', sans-serif;
}

html, body {
    background-color: #1C212A;
}

a {
    text-decoration: none
}

li {
    list-style-type: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px dashed #BEBEBE;
    margin: 8px 0;
}

html {
	box-sizing: border-box;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;

	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*:not(textarea),
*:not([contenteditable=true]),
*:not(input) {
    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
}


img {
	max-width: 100%;
	max-height: 100%;
	border-style: none;

	-webkit-user-drag: none;
	-khtml-user-drag: none;
	-moz-user-drag: none;
	-o-user-drag: none;
}

input:focus, button:focus {
    outline: none;
}

/* ### */

header {
    text-align: center;
}

html, body { 
    height: 100%;
}

footer {
    color: white;

    padding: 16px;
    text-align: center;
}

footer i:hover,
#footbar {
    cursor: pointer;
    opacity: 0.5;
}

.fullheight { /* for footer */
    min-height:100%;
    height: auto !important; /* real browsers */
    height: 100%;
}

.bold {
    font-weight: bold;
}

.maincolor {
    color: #4054b2;
}

._profilelayout {
    max-width: 1400px;
    padding-top: 40px;
}

/* ### */

#header-profile-pic-grid {
    display: grid;
    grid-template-columns: 65% 35%;
    height: 340px;
}

#profile-bg-image {
    background-image: url("../image/profile-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#profile-nav-header {
    padding: 24px 18px;
    border-radius: 6px;
    color: white;
}

#profile-nav-header li {
    font-size: larger;
}

#profile-nav-header > div:last-child {
    margin-top: 24px;
}

/* ### */

.fixedscale {
    margin: 0 auto;
    max-width: 1100px;
    padding: 0 10px;
}

/* //----------------------------------------------------------------------------------------------------------------------------// */
.photoplace :not(.column) img {
    max-width: 24%;
    width: auto;
    border-radius: 4px;
    margin-bottom: 4px;
    margin-top: 4px;
    box-shadow: 0px 2px 0px 0px rgba(0,0,0,0.2);
    cursor: pointer;
    transition: 0.3s;
}

.photoplace :not(.column) img:hover {
    transform: translate(0,-20px);;
}

.photoplace .column img {
    cursor: pointer;
}

.photoplace .column img:hover {
    transform: translate(0,-20px);;
}

/* //----------------------------------------------------------------------------------------------------------------------------// */
.flipbookbtn {
    border-radius: 4px;
    background-color: #4054b2;
    color: white;
    width:25px;
    height:45px;
    transition: 0.3s;
}

.flipbookbtn:hover {
    cursor: pointer;
    color: grey;
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.2);
}

/* //----------------------------------------------------------------------------------------------------------------------------// */
#photomodal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4); 
    padding-top: 120px;
}

#photomodal img {
    background-color: #fefefe;
    width: auto;
    max-width: 60%;
    max-height: 90%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* //----------------------------------------------------------------------------------------------------------------------------// */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from { -webkit-transform: scale(0) }
    to { -webkit-transform: scale(1) }
}

@keyframes animatezoom {
    from { transform: scale(0) }
    to { transform: scale(1) }
}

.innercontent {
    overflow: auto;
    background-color: #2D3546;
    border: 2px solid #475061;
    color: white;
    border-radius: 8px;
    margin: 12px 0;
    padding: 6px 16px;
}

/* //----------------------------------------------------------------------------------------------------------------------------// */
.showcase {
    width: 100%;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}

.showcase:hover {
    box-shadow: 0px 1px 8px 0px rgba(0,0,0,0.2);
}

/* //----------------------------------------------------------------------------------------------------------------------------// */
.headlink {
    color: #4054b2;
    transition: 0.3s;
}

.headlink:hover {
    opacity: 0.8;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
}

/* //----------------------------------------------------------------------------------------------------------------------------// */
#social-grid {
    display: grid;
    grid-gap: 24px;
    grid-template-columns: repeat(auto-fit, minmax(10%, 1fr));
}

#social-grid img {
    border-radius: 50%;
    transition: 0.3s;
}

#social-grid img:hover {
    box-shadow: 0px 1px 8px 0px rgba(0,0,0,0.2);
    opacity: 0.6;
}

/* //----------------------------------------------------------------------------------------------------------------------------// */
.resp-container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}

.resp-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px dashed #fff;
}

#youtube-grid {
    margin-top: 8px;
    display: grid;
    grid-gap: 16px;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

/* //----------------------------------------------------------------------------------------------------------------------------// */
#content-showcase {
    display: grid;
    gap: 12px;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
}

#content-showcase > .item {
    background-color: #475061;
    border: 1px dashed #fff;
    padding: 6px 12px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}

#content-showcase > .item > li {
    height: 1em;
    transition: 0.3s
}

#content-showcase > .item > small {
    font-weight: 200;
    color: #CBCBCB;
    transition: 0.3s
}

#content-showcase > .item:hover {
    border: 1px solid #fff;
}

#content-showcase img {
    width: 100%;
    margin: 12px 0;
    vertical-align: middle;
    transition: 0.3s;
}

#emptyresult {
    margin: 54px;
    display: none;
    text-align: center;
    font-weight: bold;
}

#project-showed-list {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(48%, 0.5fr));
    grid-template-rows: repeat(auto-fit, auto);
}

.project-content {
    padding: 12px;
    background: white;
    border-radius: 4px;
}

.project-content > a > img {
    float: left;
    margin-right: 12px;
    width: 80px;
    transition: 0.3s;
}

.project-content > a > img:hover {
    opacity: 0.6;
}

.grid-half {
    display: grid;
    grid-gap: 8px;
    grid-template-columns: repeat(auto-fit, minmax(48%, 1fr));
    grid-template-rows: repeat(auto-fit, auto);
}

.grid-third {
    display: grid;
    grid-gap: 8px;
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
    grid-template-rows: repeat(auto-fit, auto);
}