<footer style="padding:24px;text-align:center">
    <div>
        <a href="https://www.facebook.com/aps.khem" target="_blank"><i class="fa fa-facebook-official w3-hover-opacity"></i></a>
        <a href="https://www.instagram.com/apskhem" target="_blank"><i class="fa fa-instagram w3-hover-opacity"></i></a>
        <a href="https://www.pinterest.com/apisit_lon/" target="_blank"><i class="fa fa-pinterest-p w3-hover-opacity"></i></a>
        <a href="https://steamcommunity.com/profiles/76561198126589193/" target="_blank"><i class="fa fa-steam w3-hover-opacity"></i></a>
        <a href="https://www.youtube.com/CyberRecordChannel" target="_blank"><i class="fa fa-youtube w3-hover-opacity"></i></a>
        <a href="http://line.me/ti/p/~khemzakung" target="_blank"><img src="image/line-512.png" style="width:15px" class="w3-hover-opacity"/></a>
        <a href="https://plus.google.com/u/0/+CyberRecordChannel" target="_blank"><i class="fa fa-google-plus w3-hover-opacity"></i></a>
        <div class="tooltip">
            <i class="fa fa-envelope w3-hover-opacity"></i>
            <span class="tooltiptext">cyber1.record@gmail.com
            <br>apisit_lon@hotmail.com</span>
        </div>
    </div>
    <a href="apskhem.github.io/me/index.html">HOME</a> | 
    <a href="apskhem.github.io/me/portfolio.html">PORTFOIO</a> | 
    <a href="apskhem.github.io/me/project.html">PROJECT</a>
    <br>
    &copy 2018-2019 kemaoaods.github.io All Rights Reserved.
</footer>