<div id="navbar">
    <a class="text" href="https://kemaoaods.github.io/main/"><img src="image/mylogo1.ico" style="max-width: 20px; transform: scale(1.5)" /></a>
    <a class="text" href="https://kemaoaods.github.io/main/index.html" target="_self"><b>Home</b></a>
    <a class="text" href="https://kemaoaods.github.io/main/portfolio.html"><b>Portfolio</b></a>
    <a class="text" href="https://kemaoaods.github.io/main/project.html" target="_self"><b>Project</b></a>
    <a class="ico" href="https://www.facebook.com/aps.khem" target="_blank"><i class="fa fa-facebook-official w3-hover-opacity"></i></a>
</div>